<ion-view cache-view="false" view-title="Map">
  <ion-content>
    <ui-gmap-google-map center="map.center"
			zoom="map.zoom"
			draggable="true"
			>

      <ui-gmap-markers models="me" coords="'coords'"
		      idKey="'id'" icon="'icon'"
		      ></ui-gmap-markers>
      
      <div ng-if="station_markers.ready">
	<ui-gmap-markers
	   models="stations"
	   coords="'long_geolocation'"
	   icon="'icon'"
	   click="find_available_destinations();"
	   ></ui-gmap-markers>
      </div>
      <div ng-if="destination_markers.ready">
	<ui-gmap-markers
	   models="destinations"
	   coords="'long_geolocation'"
	   dorebuildall="true"
	   icon="'icon'"
	   click="get_route_info();"
	   ></ui-gmap-markers>
      </div>

    </ui-gmap-google-map>
  </ion-content>
</ion-view>
